.back-btn {
  background-color: #DFDFDF !important;
  border-color: #DFDFDF !important;
  color: black !important;
}

.print-btn {
  background-color: #AEAEAE !important;
  border-color: #AEAEAE !important;
  color: white !important;
}