<div class="card noborderRad">
    <div class="grid formgrid">
        <div class="col-12 lg:col-6 md:col-6 ">
            <h4>{{title}}</h4>
        </div>
        <div class="col-12 lg:col-6 md:col-6 mb-2" style="text-align: right;">
            <button pButton pRipple printTitle="Member Details" [closeWindow]="false" [openNewTab]="true"
                styleSheetFile="assets/printcss/printstylesteet.css" [style]="{'float': 'right', 'margin-left':'10px'}"
                [useExistingCss]="true" type="button" label="Print" ngxPrint printSectionId="memberPrintSection"
                class="p-button-primary"></button>
             <!-- <button pButton pRipple label="Back to Home Page" class="p-button-secondary" icon="pi pi-arrow-left"
                (click)="back()">
            </button> -->
        </div>
    </div>
    <div class="mb-3">
        <div class="card" id="demo" *ngIf="memberDetails">

            <div style="margin: 20px;">
                <app-organization-detail-view
                    [orgDetail]="memberDetails?.organizationalDetail"></app-organization-detail-view>
            </div>
            <div style="margin: 20px;">
                <app-mem-personal-detail-view
                    [personalDetail]="memberDetails?.memberDetail"></app-mem-personal-detail-view>
            </div>
            <div style="margin: 20px;">
                <app-mem-permanent-address-view
                    [addressDetail]="memberDetails?.permanentAddress"></app-mem-permanent-address-view>
            </div>
            <div style="margin: 20px;">
                <app-mem-temp-address-view
                    [addressDetail]="memberDetails?.temproraryAddress"></app-mem-temp-address-view>
            </div>
            <div style="margin: 20px;">
                <app-mem-family-detail-view
                    [familyMemberList]="memberDetails?.familyMembers"></app-mem-family-detail-view>
            </div>
            <div style="margin: 20px;">
                <app-mem-bank-detail-view [personalDetail]="memberDetails?.bankDetails"></app-mem-bank-detail-view>
            </div>
            <div class="card p-fluid" style="margin: 20px;padding: 20px 20px 20px 20px;background-color: #e6e7ff;">
                <div class="p-formgrid grid ">
                    <div class="col-12">
                        <h5 class="divhighligher"> ஆவணங்கள் / Documents</h5>
                        <div class="col-12 flex md:col-12  lg:col-12" style="flex-wrap: wrap;overflow-x: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> வ.எண் / S.No</th>
                                        <th style="min-width: 200px">
                                            ஆவண வகை / Document Category
                                        </th>
                                        <!-- <th style="min-width: 100px">
                                            ஆவண வகை / Document Type
                                        </th> -->
                                        <th> கோப்பு பதிவேற்றம் / Uploaded File Name
                                        </th>
                                        <th> செயல் / Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let itemrow of memberDetails.memberDocuments; let i=index;let l=last">
                                        <td>{{i+1}} </td>
                                        <td>{{itemrow.documentCategory}} </td>
                                        <!-- <td>{{itemrow.acceptedDocumentType}} </td> -->
                                        <td>{{itemrow.originalFileName}} </td>
                                      <td> <button type="button" style="background-color: aliceblue;"
                                                *ngIf="itemrow.originalFileName" pButton pRipple icon="pi pi-download"
                                                (click)="downloadFile(itemrow.id,itemrow.originalFileName)"
                                                class=" mr-2 p-element p-ripple p-button p-button p-button-outlined p-button p-component p-button"
                                                title="Delete"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-fluid" style="margin: 20px;padding: 20px 20px 20px 20px;background-color: #e6e7ff;">
                <div class="p-formgrid grid ">
                    <div class="col-12">
                        <h5 class="divhighligher">கூடுதல் ஆவணங்கள் / Additional Documents</h5>
                        <div class="col-12 flex md:col-12  lg:col-12" style="flex-wrap: wrap;overflow-x: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> வ.எண் / S.No</th>
                                        <th style="min-width: 200px">
                                            ஆவண வகை / Document Category
                                        </th>
                                        <!-- <th style="min-width: 100px">
                                            ஆவண வகை / Document Type
                                        </th> -->
                                        <th> கோப்பு பதிவேற்றம் / Uploaded File Name
                                        </th>
                                        <th> செயல் / Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let itemrow of memberDetails.memberNonMandatoryDocuments; let i=index;let l=last">
                                        <td>{{i+1}} </td>
                                        <td>{{itemrow.documentCategory}} </td>
                                        <!-- <td>{{itemrow.acceptedDocumentType}} </td> -->
                                        <td>{{itemrow.originalFileName}} </td>
                                         <td> <button type="button" style="background-color: aliceblue;"
                                                *ngIf="itemrow.originalFileName" pButton pRipple icon="pi pi-download"
                                                (click)="downloadFile(itemrow.id,itemrow.originalFileName)"
                                                class=" mr-2 p-element p-ripple p-button p-button p-button-outlined p-button p-component p-button"
                                                title="Delete"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display:none;">
        <div class="mb-3" id="memberPrintSection">
            <app-mem-detail-view-print [memberDetails]="memberDetails"></app-mem-detail-view-print>
        </div>
    </div>
</div>