.imagediv{
    display:flex; justify-content: center;
}
.imgsize{
    width:75px;height:75px;
}
.schenamestyle{
    font-weight: bold !important;
    color: #1B729D !important; 
    font: caption;
    font-size: x-large;
}.centercard {
    background-color: #003255;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .portalp {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .schemetype {
    color: #003255;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .schemegrp {
    background-color: #ecf9ff;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .schemeengtext {
    font-size: 22px;
    font-weight: 600;
  }
  .schemetamtext {
    font-size: 22px;
    font-weight: 500;
  }
  .ovrallschemegrp {
    display: flex;
    justify-content: center;
    padding: 0px 10px 20px 20px;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .video-container video {
    width: 100%;
    height: 350px;
    object-fit: fill;
    opacity: 0.9;
  }
  
  .video-container .centered-div {
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -90%);
  }
  
  .loginTypeOption-div {
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid #878787;
  }
  
  .loginTypeOption-div .loginTypeOption {
    padding: 5px;
  }
  
  .BannerClass {
    height: 350px;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s ease-in-out;
  }
  
  .bullet-point-box {
    text-align: center;
  }
  .bullet-point-x {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px 3px;
    background-color: rgb(227, 227, 227);
    border-radius: 50%;
    border: 1px solid gray;
  }
  .bullet-point-x-active {
    background-color: rgb(162, 161, 161);
  }
  .bullet-point-x:hover {
    background-color: rgb(209, 209, 209);
  }
  .imgsize{
    
    width: 80px;
    height: 80px;
  }.imagediv{
    display:flex; justify-content: center;
}
.imgsizefooter{
    width:350px;height:75px;
}.cntdtyle {
    margin-top: 10px;
    max-width: 476px;
    padding: 25px 50px;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    box-shadow: 5px 4px 7.8px 0px #00000040;
    border-radius: 10px;
}

::ng-deep .bcbtn {
    margin-right: 20px;
    border-radius: 18px;
    padding: 5px 45px;
}
::ng-deep .p-password-input{
    width: 100%;
    padding: 5px;
}