<div class="card">
  <div
    class="grid formgrid"
    style="
      justify-content: space-between;
      padding: 0rem 1rem;
      margin-bottom: 10px;
    "
  >
    <div class="">
      <h4>{{ title }}</h4>
    </div>
    <div class="">
      <button
        pButton
        pRipple
        type="button"
        label="Privileges"
        (click)="setPrivileges()"
        *ngxPermissionsOnly="[privleges.ROLE_SET_PRIVILEGE]"
        class="p-button-secondary"
      ></button>
    </div>
  </div>
  <div class="grid formgrid mb-3">
    <form [formGroup]="roleForm" (ngSubmit)="submit()" class="col-12">
      <div class="card p-fluid" style="padding-bottom: 10px">
        <div class="p-formgrid grid">
          <!-- Role Name -->
          <div class="field col-12 md:col-6 lg:col-3">
            <label htmlFor="roleName">Role Name</label>
            <input pInputText formControlName="roleName" type="text" />
            <app-error-msg [control]="roleForm.get('roleName')"></app-error-msg>
          </div>

          <!-- Code -->
          <div class="field col-12 md:col-6 lg:col-3">
            <label htmlFor="code">Code</label>
            <input pInputText formControlName="code" type="text" />
            <app-error-msg [control]="roleForm.get('code')"></app-error-msg>
          </div>

          <!-- Is Urban-Rural Login (Toggle) -->
          <div class="field col-12 md:col-6 lg:col-3">
            <label for="isUrbanRural">Is Urban-Rural Login</label>
            <div class="flex align-items-center mt-2">
              <p-inputSwitch formControlName="isUrbanRural"></p-inputSwitch>
            </div>
            <app-error-msg
              [control]="roleForm.get('isUrbanRural')"
            ></app-error-msg>
          </div>

          <!-- Buttons -->
          <div class="col-12 md:col-6 flex lg:col-2" style="margin-top: 25px">
            <div class="col">
              <button
                pButton
                type="submit"
                *ngxPermissionsOnly="[
                  privleges.ROLE_CREATE,
                  privleges.ROLE_UPDATE
                ]"
                [disabled]="!roleForm.valid"
                label="Submit"
              ></button>
            </div>
            <div class="col">
              <button
                pButton
                type="button"
                class="p-button-secondary"
                label="Reset"
                (click)="resetForm()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="grid formgrid">
    <div class="col-12 lg:col-9 md:col-9 flex">
      <h4>{{ this.title }} List</h4>
      <span
        style="font-size: small; font-weight: 600; margin-left: 5px"
        [ngStyle]="{ color: currentStatus ? '#0abb0a' : '#fd7878' }"
      >
        {{ currentStatus ? "(Active)" : "(In-Active)" }}</span
      >
    </div>
  </div>
  <app-datatable
    [records]="configurationList"
    [defaultSortField]="defaultSortField"
    [defaultSortOrder]="defaultSortOrder"
    [cols]="cols"
    [fileName]="'Role'"
    [rows]="rows"
    [total]="configurationList ? configurationList.length : 0"
    [actions]="actions"
    (invokeAction)="actioInvoked($event)"
    [searchableColumns]="searchableColumns"
    [defaultstatus]="!currentStatus"
    (changeStatus)="changeStatus($event)"
    [hasActiveInactive]="true"
  >
  </app-datatable>
</div>
<p-toast></p-toast>
