<div class="card noborderRad">
    <div class="grid formgrid">
        <div class="col-12 lg:col-9 md:col-9 ">
            <h4>{{title}}</h4>
        </div>
        <div class="col-12 lg:col-3 md:col-3" style="text-align: end;">
            <button pButton pRipple label="Schedule" *ngxPermissionsOnly="[privleges.CALLLETTER_CREATE]"
                (click)="createmeeting('0')" icon="pi pi-plus" class="p-button-primary">
            </button>
        </div>
        <div class="col-12 lg:col-12 md:col-12 flex  mt-3">
            <!-- 
            <div class="col-12 lg:col-3 md:col-3 ">
                <p-dropdown [options]="datefilter" optionLabel="text" [style]="{'width': '100%'}" optionValue="value"
                    placeholder="Select a  Date Range" [showClear]="false"
                    [(ngModel)]="selecteddatefilter"></p-dropdown>
            </div> -->
            <div class="col-12 lg:col-2 md:col-2 ">

                <p-dropdown [options]="activeStatuses" optionLabel="text" [style]="{'width': '100%'}"
                    optionValue="value" placeholder="Select a Status" [showClear]="false"
                    [(ngModel)]="selectedActiveStatuses"></p-dropdown>
            </div>
            <div class="col-12 lg:col-3 md:col-3 ">
                <p-multiSelect [options]="schemes" optionLabel="text" [style]="{'width': '100%'}" optionValue="value"
                    placeholder="Select a Scheme" [showClear]="false" [(ngModel)]="selectedSchemes"></p-multiSelect>
            </div>
            <div class="col-12 lg:col-3 md:col-3 ">

                <p-multiSelect [options]="districts" optionLabel="text" [style]="{'width': '100%'}" optionValue="value"
                    placeholder="Select a District" [showClear]="false" [(ngModel)]="selectedDistricts"></p-multiSelect>
            </div>
            <div class="col-12 lg:col-2 md:col-2 ">
                <button pButton pRipple class="p-button-secondary" icon="pi pi-arrow-right"
                    (click)="generate()"></button>
                <p-button icon="pi pi-times " [outlined]="true" (click)="reset()"
                    [style]="{'margin-left': '10px'}"></p-button>
            </div>
        </div>
    </div>
    <div class="mb-3 mt-3">
        <div class="row">
            <app-datatable-pagination [records]="configurationList" [defaultSortField]="defaultSortField"
                [defaultSortOrder]="defaultSortOrder" [cols]="cols" [fileName]="'Applications'" [rows]="rows"
                [total]="total" [actions]="actions" (invokeAction)="actioInvoked($event)"
                [defaultstatus]="!currentStatus" (changeStatus)="changeStatus($event)"
                [searchableColumns]="searchableColumns" [hasActiveInactive]="false"
                (changefilter)="changefilter($event)" (actionalAction)="actionalAction($event)"
                    [exportedData]="exportedData"
      (exportRequest)="onExportRequest($event)">
            </app-datatable-pagination>
             <!-- modified by Sivasankar on 31-10-2025 for export functionality -->

        </div>
    </div>
</div>