.parent-div{
    width: 131px;
    background-color: #D9ECFA;
    border-radius: 10px;
    padding: 16px;
}
.parent-div:hover{ 
    background-color:  #facccc; 
    .child-div{
       background: linear-gradient(180deg, rgb(191, 64, 64) 0%, rgb(189, 33, 33) 100%); 
    }
}
.child-div{
    background: linear-gradient(180deg, #095387 0%, #1E7FD6 100%);
    padding: 10px;
    border-radius: 20px;
}
.imgsize{
  
  width: 80px;
  height: 80px;
}
  
  .iddfs{
    align-items: center; 
    display: flex;
    flex-direction: column;
  }