<div class="formgrid mb-3">
    <form [formGroup]="limitForm" (ngSubmit)="submit()" class="col-12">
        <div class="card p-fluid" style="padding-bottom: 10px;">
            <div class="p-formgrid grid">
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="totalSubsidyCost">Total Subsidy Cost</label>
                    <input pInputText formControlName="totalSubsidyCost" type="text" />
                    <app-error-msg [control]="limitForm.get('totalSubsidyCost')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="totalProjectCost">Total Cost</label>
                    <input pInputText formControlName="totalProjectCost" type="text" />
                    <app-error-msg [control]="limitForm.get('totalProjectCost')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="maxProjectCost">Max Cost per Application</label>
                    <input pInputText formControlName="maxProjectCost" type="text" />
                    <app-error-msg [control]="limitForm.get('maxProjectCost')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="subsidyPercentage">Max Subsidy Percentage per Application</label>
                    <input pInputText formControlName="subsidyPercentage" type="text" />
                    <app-error-msg [control]="limitForm.get('subsidyPercentage')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="maxsubsidyPerApplication">Max Subsidy Cost per Application</label>
                    <input pInputText formControlName="maxsubsidyPerApplication" type="text" />
                    <app-error-msg [control]="limitForm.get('maxsubsidyPerApplication')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-6  lg:col-3">
                    <label htmlFor="maxApplicationCount">Max Application Count </label>
                    <input pInputText formControlName="maxApplicationCount" type="text" />
                    <app-error-msg [control]="limitForm.get('maxApplicationCount')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-2  lg:col-3">
                    <label htmlFor="from">From Date</label>
                    <p-calendar [defaultDate]="defaultDate" [showIcon]="true" [showButtonBar]="true"
                        dateFormat="dd-mm-yy" [maxDate]="limitForm.get('to')?.value" [readonlyInput]="true"
                        formControlName="from" inputId="icon"></p-calendar>
                    <app-error-msg [control]="limitForm.get('from')"></app-error-msg>
                </div>
                <div class="field col-12  md:col-2  lg:col-3">
                    <label htmlFor="to">To Date</label>
                    <p-calendar [defaultDate]="defaultDate" [showIcon]="true" [showButtonBar]="true"
                        dateFormat="dd-mm-yy" [minDate]="limitForm.get('from')?.value" [readonlyInput]="true"
                        formControlName="to" inputId="icon"></p-calendar>
                    <app-error-msg [control]="limitForm.get('to')"></app-error-msg>
                </div>
                <div class="field col-12 flex  " style="justify-content: end;">

                    <div class="col-2">
                        <button pButton pRipple type="button" [disabled]="true" label="Set District Limits"
                            (click)="openDistricts()" class="p-button-success"></button>
                    </div>
                    <div class="col-1">
                        <button pButton type="submit"
                            *ngxPermissionsOnly="[privleges.CONFIG_UPDATE, privleges.CONFIG_CREATE]"
                            [disabled]="!limitForm.valid" label="Submit"></button>
                    </div>
                    <div class="col-1">
                        <button pButton type="button" class="p-button-secondary" label="Reset"
                            (click)="resetForm()"></button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="grid formgrid">
    <div class="col-12 lg:col-9 md:col-9 flex ">
        <h4>{{this.title}} List </h4><span style="font-size: small;font-weight: 600;margin-left: 5px;"
            [ngStyle]="{'color': currentStatus ? '#0abb0a' : '#fd7878'}">
            {{currentStatus?'(Active)':'(In-Active)'}}</span>
    </div>
</div>
<app-datatable [records]="configurationList" [defaultSortField]="defaultSortField" [defaultSortOrder]="defaultSortOrder"
    [cols]="cols" [fileName]="'Limits'" [rows]="rows" [total]="configurationList ? configurationList.length : 0"
    [actions]="actions" (invokeAction)="actioInvoked($event)" [searchableColumns]="searchableColumns"
    [defaultstatus]="!currentStatus" (changeStatus)="changeStatus($event)" [hasActiveInactive]="true">
</app-datatable>
<p-dialog header="District Limits" [modal]="true" [(visible)]="visible" [style]="{width: '70vw', height:'70vh'}"
    [maximizable]="true" [draggable]="false">
    <form [formGroup]="districtForm" (ngSubmit)="submit()" class="col-12">
        <div class="card p-fluid" style="padding-bottom: 10px;">
            <div class="p-formgrid grid " style="overflow-x: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th style="min-width: 300px">District Name</th>
                            <th style="min-width: 100px">Total Cost <span
                                    style="font-weight: 300;">({{this.limitForm.get('totalProjectCost')?.value ??
                                    0}})</span><br>
                                <span *ngIf="maxPojectCostErrorMsg"
                                    class="tableheadererrormsg">{{maxPojectCostErrorMsg}}</span>
                            </th>
                            <th>Subsidy Cost <span
                                    style="font-weight: 300;">({{this.limitForm.get('totalSubsidyCost')?.value ??
                                    0}})</span>
                                <br>
                                <span class="tableheadererrormsg">{{maxSubsidyCostErrorMsg}}</span>
                            </th>
                            <th>Application Count <span
                                    style="font-weight: 300;">({{this.limitForm.get('maxApplicationCount')?.value ??
                                    0}})</span>
                                <br><span class="tableheadererrormsg">{{maxApplicationCountErrorMsg}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="districts">
                        <tr *ngFor="let itemrow of t.controls; let i=index;let l=last" [formGroupName]="i">
                            <td> {{ i+1 }} </td>
                            <td> {{ districtList[i].controls['district'].value }} </td>
                            <td>
                                <input pInputText [maxlength]="250" formControlName="maxPojectCost" type="text" />
                            </td>
                            <td>
                                <input pInputText [maxlength]="10" formControlName="maxSubsidyCost" type="text" />
                            </td>
                            <td>
                                <input pInputText [maxlength]="10" formControlName="maxApplicationCount" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</p-dialog>