<div class="card p-fluid" style="margin: 20px;padding: 20px 20px 20px 20px;background-color: #e6e7ff;"
    *ngIf="memPersonalInfo">
    <div class="p-formgrid grid ">
        <div class="col-12">
            <h5 class="divhighligher" *ngIf="ismandatory"> ஆவணங்கள் / Documents</h5>
            <h5 class="divhighligher" *ngIf="!ismandatory">கூடுதல் ஆவணங்கள் / Additional Documents</h5>
            <div class="col-12 flex md:col-12  lg:col-12" style="flex-wrap: wrap;overflow-x: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th> வ.எண் / S.No</th>
                            <th style="min-width: 200px">
                                ஆவண வகை / Document Category
                            </th>
                            <!-- <th style="min-width: 100px">
                                ஆவண வகை / Document Type
                            </th> -->
                            <th> கோப்பு பதிவேற்றம் / Uploaded File Name
                            </th>
                            <th> செயல் / Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemrow of memPersonalInfo; let i=index;let l=last">
                            <td>{{i+1}} </td>
                            <td>{{itemrow.documentCategory}} </td>
                            <!-- <td>{{itemrow.acceptedDocumentType}} </td> -->
                            <td>{{itemrow.originalFileName}} </td>
                            <td> <button type="button" style="background-color: aliceblue;"
                                    *ngIf="itemrow.originalFileName" pButton pRipple icon="pi pi-download"
                                    (click)="downloadFile(itemrow.id,itemrow.originalFileName)"
                                    class=" mr-2 p-element p-ripple p-button p-button p-button-outlined p-button p-component p-button"
                                    title="Download"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>