<google-map width="100%" height="80vh" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
    (mapMousemove)="move($event)">
    <div *ngIf="markerPositions">
        <map-marker *ngFor="let position of markerPositions; " [position]="position" [options]="markerOptions"
            [title]="position.content" [label]="position.label" [visible]="true">
            <!-- <div class="custom-marker-content" *ngIf="true">
                   
                    <div class="custom-marker">
                        <p>{{ position.label }}</p>
                    </div>
                </div> -->
        </map-marker>
        <map-info-window #infoWindow>
            <div class="custom-marker-info">
                <h3>sample</h3>
                <p> description</p>
            </div>
        </map-info-window>
    </div>
</google-map>