<div
  class="flex justify-content-between"
  style="background-color: #e5fffe; padding: 8px"
>
  <div class="flex align-items-center mr-4" *ngIf="memberDetails">
    <p class="fw-bold">உறுப்பினர் சேர்க்கை விவரங்கள் / MEMBER REGISTRATION DETAILS</p>
  </div>
  <div class="flex align-items-center mr-4">
    <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <p-button
      *ngIf="isLoggedin"
      [style]="{
        'border-radius': '18px; !important',
        padding: '5px 15px',
        'margin-left': '10px',
        background: 'linear-gradient(103.06deg, #034772 22.83%, #2286E3 90.87%)'
      }"
      label="Logout"
      (onClick)="Logout()"
    />
  </div>
</div>
<app-current-user-time
  *ngIf="memberDetails"
  [memberID]="
    memberDetails.memberId != '' ? memberDetails.memberId : memberDetails.name
  "
></app-current-user-time>
<div class="row" style="text-align: center; background-color: white">
  <div class="col-12 flex justify-content-center" style="flex-wrap: wrap">
    <div>
      <div class="container container-md cntdtyle">
        <div class="flex justify-content-end mb-4">
          <p-button
            label="Print"
            [outlined]="true"
            styleClass="bcbtn"
            icon="pi pi-print"
            (onClick)="printClick()"
          />
          <p-button
            styleClass="bcbtn"
            icon="pi pi-download"
            (onClick)="downloadClick()"
            label="Download"
          />
        </div>

        <!-- ID Card Design -->

            <div id="id-card-container" class="id-card-wrapper">
                    <!-- Front Side of the ID Card -->
                    <div class="id-card text-white">

                        <!-- Member details section -->
                        <div class="row mt-4 front-side-content">
                            <div class="col-md-3 text-center">
                                <div class="photo-container">
                                    <img [src]=" url && url !='' ? url : 'https://www.w3schools.com/howto/img_avatar.png'" alt="Person"
                                        class="person-image">

                                </div>
            <div class="local-body-details">
                          <div class="detail-row">
<div class="label" *ngIf="memberCardData.nameOfLocalBody === 'GCC' || memberCardData.nameOfLocalBody === 'CMWS'">
        <span class="label">மண்டலம் / Zone</span>
      <br>
            <span class="value">
                {{ memberCardData.nameOfLocalBody }} - {{ memberCardData.zone }}
            </span>

    </div>
    </div>
    </div>

                            </div>
                            <div class="col-md-9 front-page-section">
                                <div class="member-details">
                                    <div class="detail-row">
                                        <span class="label">பெயர் / NAME</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">
                                                <ng-container *ngIf="memberCardData.nameEnglish">{{
                                                    memberCardData.nameEnglish }}</ng-container>
                                                <ng-container
                                                    *ngIf="memberCardData.nameEnglish && memberCardData.nameTamil"><br></ng-container>
                                                <ng-container *ngIf="memberCardData.nameTamil">{{
                                                    memberCardData.nameTamil }}</ng-container>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="detail-row">
                                        <span class="label">தந்தை / கணவர்<br>FATHER / HUSBAND</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">
                                                <ng-container *ngIf="memberCardData.fatherNameEnglish">{{
                                                    memberCardData.fatherNameEnglish }}</ng-container>
                                                <ng-container
                                                    *ngIf="memberCardData.fatherNameEnglish && memberCardData.fatherNameTamil"><br></ng-container>
                                                <ng-container *ngIf="memberCardData.fatherNameTamil">{{
                                                    memberCardData.fatherNameTamil }}</ng-container>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="detail-row">
                                        <span class="label">உறுப்பினர் எண்<br>MEMBER ID</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">{{memberCardData.memberId }}</span>
                                        </span>
                                    </div>
                                    <div class="detail-row">
                                        <span class="label">பிறந்த தேதி / DOB</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">{{memberCardData.dateOfBirth | date:
                                                'dd-MM-yyyy'}}</span>
                                        </span>
                                    </div>
                                    <div class="detail-row">
                                        <span class="label">மாவட்டம் / DISTRICT</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">
                                                <ng-container *ngIf="memberCardData.districtTamil">{{
                                                    memberCardData.districtTamil }}</ng-container>
                                                <ng-container
                                                    *ngIf="memberCardData.districtTamil && memberCardData.districtEnglish">
                                                    / </ng-container>
                                                <ng-container *ngIf="memberCardData.districtEnglish">{{
                                                    memberCardData.districtEnglish }}</ng-container>
                                            </span>
                                        </span>
                                    </div>


    <!-- QR Code Row -->
    <div class="detail-row">

            <span class="value">
                <img [src]="'https://api.qrserver.com/v1/create-qr-code/?data=' + encodeURIComponent(trimmedApiUrl + '/#/member-qr-view/' + (this.memberId)) +'&size=80x80'"
                    alt="QR Code" class="qr-code">
            </span>

    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Back Side of the ID Card -->
                    <div class="id-card-back">
                        <!-- Member details section -->
                        <div class="row mt-4 back-side-content">
                            <div class="col-md-12">
                                <div class="back-details">
                                    <div class="detail-row">
                                        <span class="label">குடும்பத்தினர்/FAMILY MEMBERS</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <span class="value">
                                                <ng-container
                                                    *ngIf="getCommaSeparatedNamesFromFamily(memberCardData.familyMember, 'Tamil') as tamilNames">
                                                    {{ tamilNames }}
                                                    <ng-container
                                                        *ngIf="getCommaSeparatedNamesFromFamily(memberCardData.familyMember, 'English')">
                                                        <br>
                                                    </ng-container>
                                                </ng-container>
                                                {{ getCommaSeparatedNamesFromFamily(memberCardData.familyMember,
                                                'English') }}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="detail-row">
                                        <span class="label">முகவரி/ADDRESS</span>
                                        <span class="colon-value">
                                            <span class="colon">:</span>
                                            <!-- <span class="value">
                                                {{ getFormattedAddress(memberCardData) }}
                                            </span> -->
                                            <span class="value">
  {{ getFormattedAddressTamil(memberCardData) }}
  <ng-container *ngIf="getFormattedAddressTamil(memberCardData) && getFormattedAddress(memberCardData)">
    <br>
  </ng-container>
  {{ getFormattedAddress(memberCardData) }}
</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="flex justify-content-center mt-2">
          <p-button
            *ngIf="memberCardData?.canSendPhysicalCard == 'true'"
            styleClass="bcbtn"
            (onClick)="downloadClick()"
            label="Request Physical Card"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 imagediv justify-content-center">
    <p-button
      severity="secondary"
      styleClass="bcbtn"
      (onClick)="bckClick()"
      label="Back"
    />
  </div>
</div>
