<div class="wd">
    <p-table #dt [columns]="cols" [exportFilename]="fileName"  [sortField]="defaultSortField" [sortOrder]="defaultSortOrder" [value]="entirerecords"
        [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (selectionChange)="selectionChanged($event)" [rowsPerPageOptions]="rowsPerPageOptions"
        [exportHeader]="'customExportHeader'" [(selection)]="selectedProducts" [tableStyle]="{ 'min-width': '50rem' }"
        [globalFilterFields]="searchableColumns" responsiveLayout="scroll">
        <ng-template pTemplate="caption" style="display: flex;">
            <div class="col-6" style="padding: 0px;">
                <button type="button" *ngIf="canshowExport" pButton pRipple (click)="dt.exportCSV()"
                    icon="pi pi-file-excel" class="p-button-secondary mr-2" pTooltip="CSV"
                    tooltipPosition="bottom"></button>
                <button type="button" *ngIf="canshowExport" pButton pRipple (click)="exportPdf()" icon="pi pi-print"
                    class="p-button-info mr-2 " pTooltip="PDF" tooltipPosition="bottom"></button>
                     <button type="button" *ngIf="canExportpdf"  pButton pRipple (click)="dt.exportCSV()"
                    icon="pi pi-file-excel" class="p-button-secondary mr-2" pTooltip="CSV"
                    tooltipPosition="bottom"></button>
                    <button type="button" *ngIf="canExportpdf" pButton pRipple (click)="exportPdf1()" icon="pi pi-print"
                    class="p-button-info mr-2 " pTooltip="PDF" tooltipPosition="bottom"></button>
                <!-- <button type="button" pButton pRipple icon="pi pi-filter"
                    (click)="dt.exportCSV({ selectionOnly: true })" class=" mr-2 p-button-info ml-auto"
                    pTooltip="Selection Only" tooltipPosition="bottom"></button>
                 -->
            </div>
            <div class="col-2" *ngIf="hasActiveInactive; else elsep" style="text-align: end;padding: 0px;
            margin-right: 10px;">
                <p-toggleButton [(ngModel)]="defaultstatus" [onLabel]="onLabel" [offLabel]="offLabel"
                    [style]="{'width': '10em'}" (onChange)="changeEvent($event)"></p-toggleButton>
            </div>
            <ng-template #elsep>
                <div class="col-2" style="padding: 0px;">
                </div>
            </ng-template>
            <div class="col-4" style="padding: 0px;">
                <input class="p-inputtext p-component p-element w-full" (input)="onGlobalFilter(dt, $event)"
                    placeholder="Search Keyword" />

            </div>
            <!-- <div class="flex justify-content-between flex-column sm:flex-row">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)"
                        placeholder="Search Keyword" class="w-full" />
                </span>
            </div> -->
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngIf="canShowAction"> Action </th>
                <th *ngIf="canShowCheckbox">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.sortablefield" style="text-wrap: nowrap;">
                    {{col.header | titlecase}}
                    <p-sortIcon *ngIf="col.sortablefield" [field]="col.sortablefield"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td [ngClass]="getStyle()" *ngIf="canShowAction">
                    <div style="height: 40px; display: flex;">
                        <ng-container *ngFor="let action of actions">
                            <button type="button" style="background-color: aliceblue;"
                                *ngIf="(action.visibilityCheckFeild? rowData[action.visibilityCheckFeild] : true) &&  getPerm(action.privilege)"
                                [disabled]="!canShowAction" pButton pRipple [icon]="action.icon || ''"
                                (click)="makeAction(action.type,rowData,$event )"
                                class=" mr-2 p-element p-ripple p-button p-button p-button-outlined p-button p-component p-button"
                                [title]="action.title"></button>
                        </ng-container>
                    </div>
                </td>
                <td [ngClass]="getcheckStyle()" *ngIf="canShowCheckbox">
                    <div style="height: 40px; display: flex;">
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </div>
                </td>
                <td *ngFor="let col of columns" [ngClass]="getStyle()">
                    <div *ngIf="getDateColumn(col.field); else elspe">
                        {{ dc(rowData[col.field],col.field)}}
                    </div>
                    <ng-template #elspe>
                        <div *ngIf="col.isLink; else link">
                            <a target="_blank" [title]="rowData[col.field]" [href]="rowData[col.field]">
                                Link
                            </a>
                        </div>
                        <ng-template #link>
                            <div *ngIf="col.isBadge; else nobadge">
                                <p-tag [severity]="getBtnSeverity(rowData[col.field])" *ngIf="rowData[col.field]"
                                    [value]="rowData[col.field]"></p-tag>
                            </div>
                            <ng-template #nobadge>
                                <div *ngIf="col.isActionable; else noAction">
                                    <p style="color: blue;text-decoration: underline;cursor: pointer;"
                                        (click)="makeActonEvent(rowData,$event )"> {{rowData[col.field]}}
                                    </p>
                                </div>
                                <ng-template #noAction>
                                    <div [innerHTML]="rowData[col.field]">

                                    </div>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="cols.length+1">No Records Found.</td>
            </tr>
        </ng-template>

    </p-table>
    <!-- <p-paginator (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true" [first]="first" [rows]="rows"
        [totalRecords]="total" [rowsPerPageOptions]="[5,7,10, 20, 30]"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"></p-paginator> -->

    <p-confirmPopup key="confirm2"></p-confirmPopup>
</div>